# Ansible
*.retry

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.egg-info/
dist/
build/

#Locals
local.sh
local-req.json